:root {
  --main-bg-color: rgb(245, 245, 245);
  --nav-color: white;
  --nav-text-color: darkGray;
  --front-bg-color: white;
  --title-color: black;
  --heading-color: darkGray;
  --text-color: grey;
  --btn-color: #4ffedf;
  --btn-text-color: white;
  --text-over-image-color: white;
  --success-color: #00ff55;
  --progressbar-color: blue;
  --selected-color: rgba(177, 186, 187, 0.1);
}
.App {
  /* text-align: center; */
  background: var(--main-bg-color);
  font-size: 22px;
}
body {
  height: MIN(100vh);
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}
.content-box {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 0 3%;

  .container {
    //update user
    #update-user-form {
      width: 25%;
      margin: 5%;
    }
    .create-quiz-title {
      align-items: flex-start;
      padding: 1rem 0;
      // input {
      //   margin: ;
      //   height: 2rem;
      // }
      input {
        // border-radius: 2rem;
        // font-size: 1.5rem;
        // padding: 0.25rem;
        width: 80%;
        border-radius: 2rem;
        font-size: 2rem;
        margin: 0.75rem 2rem;
        padding: 0.5rem;
        box-shadow: 0 0.5rem 0.5rem -0.25em black inset;
      }
    }
    //quiz creator
    .create-question {
      border: solid 1px red;
      margin: 1rem 0;

      p {
        color: #00ff55;
        // margin-left: 30%;
      }

      form {
        display: flex;
        flex-direction: column;
        border: solid 1px green;
        font-size: 1.5rem;
        width: 100%;

        input {
          border-radius: 2rem;
          font-size: 1.5rem;
          padding: 0.25rem;
        }

        .question-box {
          display: flex;
          flex-direction: column;
          border-radius: 1rem 1rem;
          border-bottom: grey solid 1px;
          width: 100%;
          padding-top: 1.5rem;

          input {
            width: 40%;
            border-radius: 2rem;
            font-size: 1.5rem;
            margin: 0.75rem 2rem;
            padding: 0.5rem;

            &:first-child {
              color: red;
              font-size: 2rem;
              font-weight: bold;
            }
          }
        }
        .correct-ans {
          display: grid;
          grid-template-columns: 25% 10%;
          p {
            margin: 1rem auto;
          }
        }
        .new-option {
          border: 1px solid #4ffedf;
          background-color: blueviolet;
          width: auto;
          margin: 0.25rem 2rem;
          display: grid;
          grid-template-columns: 25% 5%;
          gap: 2rem;

          input {
            width: 100%;
            margin: 0.5rem;
          }
          .check-box {
            background-color: #bbb;
            width: 50%;
            margin: auto;
            border-radius: 50%;
            aspect-ratio: 1;
            cursor: pointer;
            &[aria-selected="true"] {
              background-color: var(--success-color);
            }
            &:hover {
              background-color: var(--success-color);
            }
          }
        }

        .btn {
          width: 25%;
          margin: 0.5rem 2rem;
        }
      }
    }
    // flash card
    .flash-card {
      position: relative;
      width: 150vh;
      height: 60vh;
      margin: 1rem;
      padding: 0;
      transform-style: preserve-3d;
      p {
        font-weight: bold;
        font-size: 2.5rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.flipped {
        .front {
          transform: rotateY(180deg);
        }
        .back {
          transform: rotateY(0deg);
        }
      }
      .front,
      .back {
        background-color: yellow;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;
        box-shadow: 0.75rem 0.75rem 0.5rem rgba(0, 0, 0, 0.4);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: -webkit-transform ease 500ms;
        transition: transform ease 500ms;
      }
      .front {
        z-index: 2;
        transform: rotateY(0deg);
      }
      .back {
        transform: rotateY(-180deg);
      }
    }
    // flashcard designer
    .card-designer {
      form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        > div {
          border: 1px solid red;
          width: 40%;
          margin: 0;
          padding: 5rem 1rem;
          border-left: 1.5px solid var(--text-color);
          text-align: center;

          &:first-child {
            border-left: 0px;
            border-right: 1.5px solid var(--text-color);
          }

          input {
            font-size: 1.5rem;
            border-radius: 2rem;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

h1 {
  color: var(--title-color);
  margin: 1rem 0;
}
h2 {
  color: var(--heading-color);
  margin: 1rem 0;
}
.btn {
  color: var(--btn-text-color);
  background-color: var(--btn-color);
  border-radius: 2rem;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0 0.5rem 0.5rem -0.25em black;
  transition: all 300ms ease;
  margin: 0.5rem;
  &:hover {
    color: var(--btn-color);
    background-color: white;
    /* box-shadow: 0 0.2rem 0.75rem -0.25em black; */
    box-shadow: 0 0.5rem 0.5rem -0.25em black inset;
  }
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* primary header */
.logo {
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  /* background: HSL(0 0% 0% /0.5); */
  background: var(--nav-color);
  box-shadow: 0 0.5rem 0.5rem -0.25em black;
  .mobile-nav-toggle {
    display: none;
  }
  .primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: HSL(0 0% 0% /0.5);

    a[aria-current="true"] {
      //TODO: fix -> doesnt work
      // color: var(--btn-color);
    }
    a {
      text-decoration: none;
      color: var(--nav-text-color);
      &:hover {
        color: var(--btn-color);
        cursor: pointer;
      }
    }
  }
}

@supports (backdrop-filter: blur(0.25rem)) {
  .primary-header {
    .primary-navigation {
      background: HSL(0 0% 100% /0.8);
      backdrop-filter: blur(0.25rem);
    }
  }
}

@media (min-width: 35em) {
  .primary-header {
    .primary-navigation {
      --gap: 3em;
      padding-block: 2rem;
      padding-inline: clamp(3rem, 10vw, 10rem);
      background: HSL(0 0% 0% /0);
    }
  }
}

.title {
  justify-content: center;
  text-align: center;
  box-shadow: 0 0.125rem 0.5rem -0.25em black;
  border-radius: 1rem;
}

//flash card decks
.container .flash-card-decks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  /* background-color: #00ff55; */
  .flash-card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 12vw;
    margin: 1rem 0;
    background-color: yellow;
    box-shadow: 0 0.125rem 0.5rem -0.25em black;
    transition: 500ms ease-out;

    &:hover {
      transition: 500ms ease-in;
      width: 26vw;
      height: 14vw;
    }
    p {
      color: black;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 35em) {
  .primary-header {
    .mobile-nav-toggle {
      display: block;
      position: absolute;
      z-index: 9999;
      background: url("./assets/hBurgerMenuIcon.svg");
      background-repeat: no-repeat;
      width: 2rem;
      border: 0;
      aspect-ratio: 1;
      top: 2rem;
      right: 2rem;
      transition: all 350ms;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
      transform: rotate(90deg);
      transition: all 350ms;
      position: fixed;
    }
    .primary-navigation {
      --gap: 2em;
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      flex-direction: column;
      padding: MIN(30vh, 10rem) 2rem;

      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visable="true"] {
      transform: translateX(0%);
    }
  }

  .container {
    flex-direction: column;
    align-items: center;
    div {
      width: 80% !important;
      margin: 1rem 0;
    }
    form {
      width: 100% !important;
    }
  }

  .right-box img {
    border-radius: 50%;
    width: 50% !important;
  }
}

/* home page */
.container {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}

.container > div,
.container > a div {
  background-color: var(--front-bg-color);
  width: 45%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.125rem 0.5rem -0.25em black;
}
.right-box {
  img {
    border-radius: 50%;
    width: 35%;
  }

  // form {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 50%;
  //   font-size: 2rem;
  //   input {
  //     width: 100%;
  //     border-radius: 2rem;
  //     font-size: 2rem;
  //     padding: 0.5rem 1rem;
  //     margin: 1rem 0;
  //     border: 0.01px solid lightgray;
  //     box-shadow: 0 0.5rem 0.5rem -0.25em black inset;
  //   }
  //   .btn {
  //     box-shadow: 0 0.5rem 0.5rem -0.25em black;
  //     border: none;
  //     &:hover {
  //       box-shadow: 0 0.5rem 0.5rem -0.25em black inset;
  //     }
  //   }
  // }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 2rem;
  input {
    width: 100%;
    border-radius: 2rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 0.01px solid lightgray;
    box-shadow: 0 0.5rem 0.5rem -0.25em black inset;
  }
  .btn {
    box-shadow: 0 0.5rem 0.5rem -0.25em black;
    border: none;
    &:hover {
      box-shadow: 0 0.5rem 0.5rem -0.25em black inset;
    }
  }
}
.left-box img {
  width: 50%;
}

.center-container {
  justify-content: center;
}

.rows {
  flex-direction: row !important;
}

.error-message {
  color: red;
  font-size: 1.8rem;
}
.success-message {
  color: green;
  font-size: 1.8rem;
}

/* quiz box */
.wide-container {
  flex-direction: column;
  padding: 1rem 0;
  div {
    width: 100%;
    padding: 0;
  }
}

.vFill {
  height: MIN(70vh);
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-box .container .quiz-question {
  padding-top: 0;
  margin: 1rem 0;
  .question-box {
    border-radius: 1rem 1rem;
    border-bottom: grey solid 1px;
    h2 {
      padding-left: 2rem;
    }
    p {
      /* color: red; */
      /* margin: auto 0; */
      padding-left: 2rem;
    }
  }
  .quiz-answers {
    /* color: #4ffedf; */
    width: 60%;
    align-self: center;
    justify-self: center;
    border: solid 1px green;
    font-size: 2rem;
    li {
      position: relative;
      display: grid;
      grid-template-columns: 5% 80%;
      gap: 2rem;

      border: 1px solid red;
      width: auto;
      border-radius: 1.8rem;
      padding: 0.5rem;
      margin: 0.5rem 0;

      cursor: pointer;

      .check-box {
        background-color: #bbb;
        width: 100%;
        margin: auto;
        border-radius: 50%;
        aspect-ratio: 1;
        cursor: pointer;
        &[aria-selected="true"] {
          background-color: var(--success-color);
        }
        &:hover {
          background-color: var(--success-color);
        }
      }
      &:hover {
        .check-box {
          background-color: var(--success-color);
        }
      }
    }
  }
}

/* activity box */
.container .activity-box {
  color: var(--text-color);
  width: 20vw;
  text-align: center;
  margin: 1rem;
  img {
    width: 60%;
    overflow: hidden;
    /* border: 1px solid black; */
  }
  h2 {
    color: black;
  }
}

/* progressbar */
.content-box .container .progressbar {
  padding-top: 0.5rem;
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h2 {
    color: black;
    align-self: flex-start;
    padding-left: 2rem;
  }
  .help-box {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0 1rem;
    box-shadow: none;
  }
  .bar {
    background-color: var(--mainbg-color);
    height: 1rem;
    align-items: flex-start;
    .barFill {
      height: 1rem;
      background-color: var(--success-color);
      width: 50%;
      border-radius: 2rem;
    }
  }
}

// tasks
.content-box .container .task-box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  position: relative;
  p {
    padding-right: 2.5rem;
  }
  h2 {
    padding-left: 2.5rem;
  }
  > div {
    width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border-bottom: 1px solid rgb(58, 58, 58);
    font-weight: bold;
    cursor: pointer;
  }
  > div[aria-selected="true"] {
    background-color: var(--selected-color);
  }

  .bottom-bar {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 110%;
    transform: translateY(2rem);
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem -0.25em black;
    background-color: white;
  }
}

// leaderboard
.content-box .container .leaderboard-box {
  .top-students {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // gap: 3rem;
    // gap: clamp(1rem 5% 10%);
    gap: clamp(1rem, 5vw, 5rem);
    background-color: #00ff55;
    .top-student {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      background-color: #4ffedf;
      // width: MIN(10%);
      // width: clamp(10% 20% 5%);
      // width: clamp(20%, 30%, 50%);
      width: 30%;
      p {
        margin: 0.2rem;
      }
      .img-container {
        background-color: gold;
        border-radius: 50%;
        aspect-ratio: 1;
        margin: auto;
        display: flex;
        justify-content: center;
        width: 50%;
        // height: 50%;
        aspect-ratio: 1;
        img {
          width: 90%;
          height: 90%;
          margin: auto;
        }
      }
    }
  }
  .leaderboard-student {
    display: grid;
    grid-template-columns: 2% 10% 50% 10%;
    gap: clamp(1rem, 5vw, 2rem);

    padding: 1rem 0;
    width: 95%;
    border-bottom: 1px solid rgb(58, 58, 58);
    p {
      // margin-left: 2rem;
    }
    h2 {
      // margin-left: 2rem;
    }
    img {
      // margin-left: 2rem;
      width: 5rems;
      height: 5rem;
    }
    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

// achievements
.content-box .container .achievement-box {
  gap: 2rem;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 8rem;
  .achievement {
    width: 10%;
    padding: 0.5rem;
    p {
      margin: 0.5rem;
    }
    .image-container {
      border-radius: 50%;
      border: 2px solid rgba(0, 0, 0, 0.075);
      aspect-ratio: 1;
      margin: auto;
      display: flex;
      justify-content: center;
      width: 75%;
      margin: 0.5rem 0 0 0;
      overflow: hidden;
    }
  }
}

/* student profile */
.content-box .container .banner {
  background: url(/src/assets/mountains-g85463b186_1920.jpg);
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  .top {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 1vw;
    .settings-btn {
      a {
        text-decoration: none;
        color: var(--text-over-image-color);
      }
      width: auto;
      height: auto;
      color: var(--text-over-image-color);
      font-size: 3rem;
      transition: all 0.5s;
      &:hover {
        cursor: pointer;
        transform: rotate(22.5deg);
      }
    }
  }
  .upper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;

    .user-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: auto;
      padding-left: 1rem;
      transform: translateY(1.5rem);

      img {
        width: 10rem;
        height: auto;
      }

      .xp {
        background-color: white;
        border-radius: 2rem;
        width: fit-content;
        transform: translateY(-1.5rem);
        p {
          margin: 0.25rem 0.5rem;
          font-weight: bold;
          color: black;
        }
      }
    }
    .name-box {
      position: relative;
      p {
        position: absolute;
        bottom: 0;
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: auto;
        color: white;
      }
    }
  }
  .progressbar {
    background-color: white;
    width: 100%;
    height: 1.5rem;
    border-radius: 2rem;
    padding: 0;
    box-shadow: 0 0.5rem 0.5rem -0.25em black;
    z-index: 99;
    .bar-fill {
      background-color: var(--progressbar-color);
      width: 50%;
      height: 100%;
      border-radius: 2rem;
    }
  }
}

.content-box .container .content {
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    h3 {
      position: relative;
      cursor: pointer;
      // &:first-child {
      //   color: var(--btn-color);
      // }
      &:hover {
        color: var(--btn-color);
        &::before {
          transform: scaleX(1);
        }
      }
      &[aria-selected="true"] {
        color: var(--btn-color) !important;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--btn-color);
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
    }
  }
  .list-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  .class-items {
    .class-item {
      display: grid;
      grid-template-columns: 15% 20% 10% 55%;
      color: #00ff55;
      border: solid 1px red;
      width: 90%;
      cursor: pointer;
      p {
        margin: 1rem;
      }
    }
  }
  .assignment-items {
    .assignment-item {
      display: grid;
      grid-template-columns: 15% 20% 20% 45%;
      color: #00ff55;
      border: solid 1px red;
      width: 90%;
      p {
        margin: 1rem;
      }
    }
  }
}

//teacher profile
.content-box .container {
  .right-box {
    .class-details {
      /* border: solid 1px red; */
      width: 100%;
      height: 100%;
      position: relative;
      .progressbar {
        /* border: solid 1px blue; */
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
      }
      .bar-fill-left {
        background-color: green;
        width: 75%;
        text-align: center;
      }
      .bar-fill-right {
        background-color: red;
        width: 25%;
        text-align: center;
      }
      .btn {
        position: relative;
        bottom: 0;
        right: 0;
      }
    }
  }
  .user-search {
    // box-sizing: border-box;
    // padding: 0;
    .search-box {
      display: flex;
      gap: 2rem;
      border: solid 1px green;
      width: 100%;
      padding: 0 2rem;
      border-radius: 1rem;
      transform: translateY(-2rem);
      p {
        font-size: 1.5rem;
      }
      input {
        border-radius: 1rem;
        margin: 1rem 0;
        font-size: 1.5rem;
      }
    }
    .column-names {
      display: grid;
      width: 100%;
      grid-template-columns: 40% 20% 20%;
      background-color: lightgray;
      &.in-class {
        grid-template-columns: 20% 40% 20%;
      }
      p {
        margin: 0.8rem 0;
      }
    }
    .search-results {
      border: solid 1px orange;
      width: 100%;
      overflow-x: none;
      overflow-y: scroll;
      > div {
        display: grid;
        grid-template-columns: 40% 20% 20% 15%;
        margin-bottom: 0.23rem;
        border-bottom: #bbb 1px solid;
        &.in-class {
          grid-template-columns: 20% 40% 20%;
        }
        .btn {
          font-size: 1.5rem;
          font-weight: bold;
        }
        cursor: pointer;
        p {
          margin: 0.8rem 0;
        }
      }

      // .column-names {
      //   background-color: lightgray;
      // }
    }
  }
}
//switch
//TODO: change this
.toggle-switch {
  position: relative;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    margin: 0;
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: attr(data-yes);
      text-transform: uppercase;
      padding-left: 10px;
      background-color: var(--success-color);
      color: #fff;
    }
  }
  &-inner:after {
    content: attr(data-no);
    text-transform: uppercase;
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
  }
  &-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 75%;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 0px;
    }
  }
  @media screen and (max-width: 991px) {
    transform: scale(0.9);
  }
  @media screen and (max-width: 767px) {
    transform: scale(0.825);
  }
  @media screen and (max-width: 575px) {
    transform: scale(0.75);
  }
}
