.user_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  padding-left: 1rem;
  transform: translateY(1.5rem);
}
img {
  width: 10rem;
  height: auto;
}

.xp {
  background-color: white;
  border-radius: 2rem;
  width: fit-content;
  transform: translateY(-1.5rem);
}
p {
  margin: 0.25rem 0.5rem;
  font-weight: bold;
  color: black;
}
