.top_student {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 30%;
}
.medal {
  display: flex;
  align-items: center;
  background-color: gold;
  width: fit-content;
  align-self: center;
  padding: 0.5rem;
  aspect-ratio: 1;
  border-radius: 100rem;
  transform: translateY(-50%);
  color: #fff;
}
.top_student p {
  font-size: 1.5rem;
  margin: 0.2rem;
}
.img_container {
  background-color: gold;
  border-radius: 50%;
  aspect-ratio: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  width: max(70%, 8rem);
  aspect-ratio: 1;
}
.img_container img {
  width: 90%;
  height: 90%;
  margin: auto;
}
